@*******************************************************************************************************
    //  Home.cshtml - Gbtc
    //
    //  Copyright © 2016, Grid Protection Alliance.  All Rights Reserved.
    //
    //  Licensed to the Grid Protection Alliance (GPA) under one or more contributor license agreements. See
    //  the NOTICE file distributed with this work for additional information regarding copyright ownership.
    //  The GPA licenses this file to you under the MIT License (MIT), the "License"; you may not use this
    //  file except in compliance with the License. You may obtain a copy of the License at:
    //
    //      http://opensource.org/licenses/MIT
    //
    //  Unless agreed to in writing, the subject software distributed under the License is distributed on an
    //  "AS-IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. Refer to the
    //  License for the specific language governing permissions and limitations.
    //
    //  Code Modification History:
    //  ----------------------------------------------------------------------------------------------------
    //  01/22/2016 - J. Ritchie Carroll
    //       Generated original version of source code.
    //
    //*****************************************************************************************************@
@using System.Collections.Specialized
@using System.Xml.Schema
@using GSF.Data.Model
@using GSF.Web.Model
@using SOETools.Model
@model SOETools.Model.AppModel
@{
    // DataContext is the "database connection" that is available for the page, you can
    // use direct database calls, e.g., dataContect.Connection.RetrieveData(...) or you
    // can use model based table operations, e.g., dataContext.Table<Page>().LoadRecord(id)
    DataContext dataContext = Model.DataContext;
    DataContext dbContext = Model.DbDataContext;

    NameValueCollection parameters = Request.QueryString;

    int dateRange = int.Parse(parameters["DateRange"] ?? "-1");
    string dates = (dateRange != -1 ? dateRange.ToString() + " days" : "All Time");
    string dateRestriction = (dateRange != -1 ? $"AND DATEDIFF(day, StartTime, GETDATE()) <= {dateRange}" : "");
    string title = parameters["Title"] ?? "";
    string restriction = parameters["Restriction"] ?? "";

    ViewBag.CustomTitle = "SOE Fault Dashboard";

    int LGCount8001500 = dbContext.Table<IncidentEventCycleDataView>().QueryRecordCount(new RecordRestriction("FaultType LIKE '%N' AND LEN(FaultType) = 2 AND Vmin >= 800 AND Vmin < 1500 " + dateRestriction));
    int LLGCount8001500 = dbContext.Table<IncidentEventCycleDataView>().QueryRecordCount(new RecordRestriction("FaultType LIKE '%N' AND LEN(FaultType) = 3 AND Vmin >= 800 AND Vmin < 1500 " + dateRestriction));
    int LLLGCount8001500 = dbContext.Table<IncidentEventCycleDataView>().QueryRecordCount(new RecordRestriction("FaultType LIKE '%N' AND LEN(FaultType) = 4 AND Vmin >= 800 AND Vmin < 1500 " + dateRestriction));
    int LLCount8001500 = dbContext.Table<IncidentEventCycleDataView>().QueryRecordCount(new RecordRestriction("FaultType NOT LIKE '%N' AND LEN(FaultType) = 2 AND Vmin >= 800 AND Vmin < 1500 " + dateRestriction));
    int LLLCount8001500 = dbContext.Table<IncidentEventCycleDataView>().QueryRecordCount(new RecordRestriction("FaultType NOT LIKE '%N' AND LEN(FaultType) = 3 AND Vmin >= 800 AND Vmin < 1500 " + dateRestriction));
    int total8001500 = LGCount8001500 + LLGCount8001500 + LLLGCount8001500 + LLCount8001500 + LLLCount8001500;
    int Ground6008001500 = dbContext.Table<IncidentEventCycleDataView>().QueryRecordCount(new RecordRestriction("FaultType IS NOT NULL AND Vmin >= 800 AND Vmin < 1500 AND Ground > 600 " + dateRestriction));

    int LGCount15003000 = dbContext.Table<IncidentEventCycleDataView>().QueryRecordCount(new RecordRestriction("FaultType LIKE '%N' AND LEN(FaultType) = 2 AND Vmin >= 1500 AND Vmin < 3000 " + dateRestriction));
    int LLGCount15003000 = dbContext.Table<IncidentEventCycleDataView>().QueryRecordCount(new RecordRestriction("FaultType LIKE '%N' AND LEN(FaultType) = 3 AND Vmin >= 1500 AND Vmin < 3000 " + dateRestriction));
    int LLLGCount15003000 = dbContext.Table<IncidentEventCycleDataView>().QueryRecordCount(new RecordRestriction("FaultType LIKE '%N' AND LEN(FaultType) = 4 AND Vmin >= 1500 AND Vmin < 3000 " + dateRestriction));
    int LLCount15003000 = dbContext.Table<IncidentEventCycleDataView>().QueryRecordCount(new RecordRestriction("FaultType NOT LIKE '%N' AND LEN(FaultType) = 2 AND Vmin >= 1500 AND Vmin < 3000 " + dateRestriction));
    int LLLCount15003000 = dbContext.Table<IncidentEventCycleDataView>().QueryRecordCount(new RecordRestriction("FaultType NOT LIKE '%N' AND LEN(FaultType) = 3 AND Vmin >= 1500 AND Vmin < 3000 " + dateRestriction));
    int total15003000 = LGCount15003000 + LLGCount15003000 + LLLGCount15003000 + LLCount15003000 + LLLCount15003000;
    int Ground60015003000 = dbContext.Table<IncidentEventCycleDataView>().QueryRecordCount(new RecordRestriction("FaultType IS NOT NULL AND Vmin >= 1500 AND Vmin < 3000 AND Ground > 600 " + dateRestriction));

    int LGCount30004500 = dbContext.Table<IncidentEventCycleDataView>().QueryRecordCount(new RecordRestriction("FaultType LIKE '%N' AND LEN(FaultType) = 2 AND Vmin >= 3000 AND Vmin < 4500 " + dateRestriction));
    int LLGCount30004500 = dbContext.Table<IncidentEventCycleDataView>().QueryRecordCount(new RecordRestriction("FaultType LIKE '%N' AND LEN(FaultType) = 3 AND Vmin >= 3000 AND Vmin < 4500 " + dateRestriction));
    int LLLGCount30004500 = dbContext.Table<IncidentEventCycleDataView>().QueryRecordCount(new RecordRestriction("FaultType LIKE '%N' AND LEN(FaultType) = 4 AND Vmin >= 3000 AND Vmin < 4500 " + dateRestriction));
    int LLCount30004500 = dbContext.Table<IncidentEventCycleDataView>().QueryRecordCount(new RecordRestriction("FaultType NOT LIKE '%N' AND LEN(FaultType) = 2 AND Vmin >= 3000 AND Vmin < 4500 " + dateRestriction));
    int LLLCount30004500 = dbContext.Table<IncidentEventCycleDataView>().QueryRecordCount(new RecordRestriction("FaultType NOT LIKE '%N' AND LEN(FaultType) = 3 AND Vmin >= 3000 AND Vmin < 4500 " + dateRestriction));
    int total30004500 = LGCount30004500 + LLGCount30004500 + LLLGCount30004500 + LLCount30004500 + LLLCount30004500;
    int Ground60030004500 = dbContext.Table<IncidentEventCycleDataView>().QueryRecordCount(new RecordRestriction("FaultType IS NOT NULL AND Vmin >= 3000 AND Vmin < 4500 AND Ground > 600 " + dateRestriction));

    int LGCount45006000 = dbContext.Table<IncidentEventCycleDataView>().QueryRecordCount(new RecordRestriction("FaultType LIKE '%N' AND LEN(FaultType) = 2 AND Vmin >= 4500 AND Vmin < 6000 " + dateRestriction));
    int LLGCount45006000 = dbContext.Table<IncidentEventCycleDataView>().QueryRecordCount(new RecordRestriction("FaultType LIKE '%N' AND LEN(FaultType) = 3 AND Vmin >= 4500 AND Vmin < 6000 " + dateRestriction));
    int LLLGCount45006000 = dbContext.Table<IncidentEventCycleDataView>().QueryRecordCount(new RecordRestriction("FaultType LIKE '%N' AND LEN(FaultType) = 4 AND Vmin >= 4500 AND Vmin < 6000 " + dateRestriction));
    int LLCount45006000 = dbContext.Table<IncidentEventCycleDataView>().QueryRecordCount(new RecordRestriction("FaultType NOT LIKE '%N' AND LEN(FaultType) = 2 AND Vmin >= 4500 AND Vmin < 6000 " + dateRestriction));
    int LLLCount45006000 = dbContext.Table<IncidentEventCycleDataView>().QueryRecordCount(new RecordRestriction("FaultType NOT LIKE '%N' AND LEN(FaultType) = 3 AND Vmin >= 4500 AND Vmin < 6000 " + dateRestriction));
    int total45006000 = LGCount45006000 + LLGCount45006000 + LLLGCount45006000 + LLCount45006000 + LLLCount45006000;
    int Ground60045006000 = dbContext.Table<IncidentEventCycleDataView>().QueryRecordCount(new RecordRestriction("FaultType IS NOT NULL AND Vmin >= 4500 AND Vmin < 6000 AND Ground > 600 " + dateRestriction));

    int LGCount6000 = dbContext.Table<IncidentEventCycleDataView>().QueryRecordCount(new RecordRestriction("FaultType LIKE '%N' AND LEN(FaultType) = 2 AND Vmin >= 6000 " + dateRestriction));
    int LLGCount6000 = dbContext.Table<IncidentEventCycleDataView>().QueryRecordCount(new RecordRestriction("FaultType LIKE '%N' AND LEN(FaultType) = 3 AND Vmin >= 6000 " + dateRestriction));
    int LLLGCount6000 = dbContext.Table<IncidentEventCycleDataView>().QueryRecordCount(new RecordRestriction("FaultType LIKE '%N' AND LEN(FaultType) = 4 AND Vmin >= 6000 " + dateRestriction));
    int LLCount6000 = dbContext.Table<IncidentEventCycleDataView>().QueryRecordCount(new RecordRestriction("FaultType NOT LIKE '%N' AND LEN(FaultType) = 2 AND Vmin >= 6000 " + dateRestriction));
    int LLLCount6000 = dbContext.Table<IncidentEventCycleDataView>().QueryRecordCount(new RecordRestriction("FaultType NOT LIKE '%N' AND LEN(FaultType) = 3 AND Vmin >= 6000 " + dateRestriction));
    int total6000 = LGCount6000 + LLGCount6000 + LLLGCount6000 + LLCount6000 + LLLCount6000;
    int Ground6006000 = dbContext.Table<IncidentEventCycleDataView>().QueryRecordCount(new RecordRestriction("FaultType IS NOT NULL AND Vmin >= 6000 AND Ground > 600 " + dateRestriction));


}
@section StyleSheets {
    @* Include any page specific style sheets here, these will be added to page header *@
}
@section Scripts {
    @* Include any page specific scripts here, these will be added to scripts at bottom of page *@
    <script>
        $(function () {
            @*console.log(@maxFaultBin + @minFaultBin);*@
        });

    </script>
}

<div class="col-md-10">
    <p>&nbsp;</p>
    <table class="table table-condensed table-hover">
        <tr>
            <th style="border-bottom: 1px solid black;" colspan="4" id="title">@title</th>
            <th style="border-bottom: 1px solid black;" colspan="4" id="daterange">@Html.Raw("Date Range: " + dates)</th>
        </tr>
        <tr>
            <th style="border-bottom: 1px solid black;">Fault Bin</th>
            <th style="border-bottom: 1px solid black;">L-G</th>
            <th style="border-bottom: 1px solid black;">L-L-G</th>
            <th style="border-bottom: 1px solid black;">L-L-L-G</th>
            <th style="border-bottom: 1px solid black;">L-L</th>
            <th style="border-bottom: 1px solid black;">L-L-L</th>
            <th style="border-bottom: 1px solid black;">Phase Total</th>
            <th style="border-bottom: 1px solid black;">Ground or Neutral > 600A</th>
        </tr>

        <tr>
            <td>&nbsp;&nbsp;800&nbsp;-&nbsp;1,500</td>
            <td><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - L-G Fault&Restriction=FaultTypeLG&MinVolt=800&MaxVolt=1500")">@LGCount8001500</a></td>
            <td><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - L-L-G Fault&Restriction=FaultTypeLLG&MinVolt=800&MaxVolt=1500")">@LLGCount8001500</a></td>
            <td><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - L-L-L-G Fault&Restriction=FaultTypeLLLG&MinVolt=800&MaxVolt=1500")">@LLLGCount8001500</a></td>
            <td><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - L-L Fault&Restriction=FaultTypeLL&MinVolt=800&MaxVolt=1500")">@LLCount8001500</a></td>
            <td><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - L-L-L Fault&Restriction=FaultTypeLLL&MinVolt=800&MaxVolt=1500")">@LLLCount8001500</a></td>
            <td><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - Phase Total&Restriction=FaultTypePhaseTotal&MinVolt=800&MaxVolt=1500")">@total8001500</a></td>
            <td><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - Ground > 600A&Restriction=FaultTypeGround&MinVolt=800&MaxVolt=1500")">@Ground6008001500</a></td>

        </tr>
        <tr>
            <td>&nbsp;&nbsp;1,500&nbsp;-&nbsp;3,000</td>
            <td><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - L-G Fault&Restriction=FaultTypeLG&MinVolt=1500&MaxVolt=3000")">@LGCount15003000</a></td>
            <td><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - L-L-G Fault&Restriction=FaultTypeLLG&MinVolt=1500&MaxVolt=3000")">@LLGCount15003000</a></td>
            <td><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - L-L-L-G Fault&Restriction=FaultTypeLLLG&MinVolt=1500&MaxVolt=3000")">@LLLGCount15003000</a></td>
            <td><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - L-L Fault&Restriction=FaultTypeLL&MinVolt=1500&MaxVolt=3000")">@LLCount15003000</a></td>
            <td><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - L-L-L Fault&Restriction=FaultTypeLLL&MinVolt=1500&MaxVolt=3000")">@LLLCount15003000</a></td>
            <td><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - Phase Total&Restriction=FaultTypePhaseTotal&MinVolt=1500&MaxVolt=3000")">@total15003000</a></td>
            <td><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - Ground > 600A&Restriction=FaultTypeGround&MinVolt=1500&MaxVolt=3000")">@Ground60015003000</a></td>

        </tr>
        <tr>
            <td>&nbsp;&nbsp;3,000&nbsp;-&nbsp;4,500</td>
            <td><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - L-G Fault&Restriction=FaultTypeLG&MinVolt=3000&MaxVolt=4500")">@LGCount30004500</a></td>
            <td><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - L-L-G Fault&Restriction=FaultTypeLLG&MinVolt=3000&MaxVolt=4500")">@LLGCount30004500</a></td>
            <td><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - L-L-L-G Fault&Restriction=FaultTypeLLLG&MinVolt=3000&MaxVolt=4500")">@LLLGCount30004500</a></td>
            <td><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - L-L Fault&Restriction=FaultTypeLL&MinVolt=3000&MaxVolt=4500")">@LLCount30004500</a></td>
            <td><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - L-L-L Fault&Restriction=FaultTypeLLL&MinVolt=3000&MaxVolt=4500")">@LLLCount30004500</a></td>
            <td><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - Phase Total&Restriction=FaultTypePhaseTotal&MinVolt=3000&MaxVolt=4500")">@total30004500</a></td>
            <td><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - Ground > 600A&Restriction=FaultTypeGround&MinVolt=3000&MaxVolt=4500")">@Ground60030004500</a></td>

        </tr>
        <tr>
            <td>&nbsp;&nbsp;4,500&nbsp;-&nbsp;6,000</td>
            <td><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - L-G Fault&Restriction=FaultTypeLG&MinVolt=4500&MaxVolt=6000")">@LGCount45006000</a></td>
            <td><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - L-L-G Fault&Restriction=FaultTypeLLG&MinVolt=4500&MaxVolt=6000")">@LLGCount45006000</a></td>
            <td><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - L-L-L-G Fault&Restriction=FaultTypeLLLG&MinVolt=4500&MaxVolt=6000")">@LLLGCount45006000</a></td>
            <td><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - L-L Fault&Restriction=FaultTypeLL&MinVolt=4500&MaxVolt=6000")">@LLCount45006000</a></td>
            <td><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - L-L-L Fault&Restriction=FaultTypeLLL&MinVolt=4500&MaxVolt=6000")">@LLLCount45006000</a></td>
            <td><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - Phase Total&Restriction=FaultTypePhaseTotal&MinVolt=4500&MaxVolt=6000")">@total45006000</a></td>
            <td><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - Ground > 600A&Restriction=FaultTypeGround&MinVolt=4500&MaxVolt=6000")">@Ground60045006000</a></td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp;>&nbsp;6,000</td>
            <td><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - L-G Fault&Restriction=FaultTypeLG&MaxVolt=6000")">@LGCount6000</a></td>
            <td><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - L-L-G Fault&Restriction=FaultTypeLLG&MaxVolt=6000")">@LLGCount6000</a></td>
            <td><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - L-L-L-G Fault&Restriction=FaultTypeLLLG&MaxVolt=6000")">@LLLGCount6000</a></td>
            <td><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - L-L Fault&Restriction=FaultTypeLL&MaxVolt=6000")">@LLCount6000</a></td>
            <td><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - L-L-L Fault&Restriction=FaultTypeLLL&MaxVolt=6000")">@LLLCount6000</a></td>
            <td><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - Phase Total&Restriction=FaultTypePhaseTotal&MaxVolt=6000")">@total6000</a></td>
            <td><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - Ground > 600A&Restriction=FaultTypeGround&MaxVolt=6000")">@Ground6006000</a></td>

        </tr>

        <tr >
            <td style="border-top: 1px solid black;">Total</td>
            <td style="border-top: 1px solid black;"><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - L-G Fault&Restriction=FaultTypeLG")">@Html.Raw(LGCount8001500 + LGCount15003000 + LGCount30004500 + LGCount45006000 + LGCount6000)</a></td>
            <td style="border-top: 1px solid black;"><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - L-L-G Fault&Restriction=FaultTypeLLG")">@Html.Raw(LLGCount8001500 + LLGCount15003000 + LLGCount30004500+ LLGCount45006000+ LLGCount6000)</a></td>
            <td style="border-top: 1px solid black;"><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - L-L-L-G Fault&Restriction=FaultTypeLLLG")">@Html.Raw(LLLGCount8001500 + LLLGCount15003000 + LLLGCount30004500 + LLLGCount45006000 + LLLGCount6000)</a></td>
            <td style="border-top: 1px solid black;"><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - L-L Fault&Restriction=FaultTypeLL")">@Html.Raw(LLCount8001500 + LLCount15003000 + LLCount30004500 + LLCount45006000 + LLCount6000)</a></td>
            <td style="border-top: 1px solid black;"><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - L-L-L Fault&Restriction=FaultTypeLLL")">@Html.Raw(LLLCount8001500 + LLLCount15003000 + LLLCount30004500 + LLLCount45006000 + LLLCount6000)</a></td>
            <td style="border-top: 1px solid black;"><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - Phase Total&Restriction=FaultTypePhaseTotal")">@Html.Raw(total8001500 + total15003000 + total30004500 + total45006000 + total6000)</a></td>
            <td style="border-top: 1px solid black;"><a href="@Url.Content("~/Main/IncidentEventCycleDataView/?DateRange="+dateRange+"&Title=SOE Fault Summary - Ground > 600A&Restriction=FaultTypeGround")">@Html.Raw(Ground6008001500 + Ground60015003000 + Ground60030004500 + Ground60045006000 + Ground6006000)</a></td>

        </tr>
    </table>

</div>

