@*******************************************************************************************************
    //  VoltSource.cshtml - Gbtc
    //
    //  Copyright © 2016, Grid Protection Alliance.  All Rights Reserved.
    //
    //  Licensed to the Grid Protection Alliance (GPA) under one or more contributor license agreements. See
    //  the NOTICE file distributed with this work for additional information regarding copyright ownership.
    //  The GPA licenses this file to you under the MIT License (MIT), the "License"; you may not use this
    //  file except in compliance with the License. You may obtain a copy of the License at:
    //
    //      http://opensource.org/licenses/MIT
    //
    //  Unless agreed to in writing, the subject software distributed under the License is distributed on an
    //  "AS-IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. Refer to the
    //  License for the specific language governing permissions and limitations.
    //
    //  Code Modification History:
    //  ----------------------------------------------------------------------------------------------------
    //  01/22/2016 - J. Ritchie Carroll
    //       Generated original version of source code.
    //
    //*****************************************************************************************************@
@using System.Collections.Specialized
@using System.Data
@using GSF.Data
@using GSF.Web.Model
@model SOETools.Model.AppModel
@{
    // DataContext is the "database connection" that is available for the page, you can
    // use direct database calls, e.g., dataContect.Connection.RetrieveData(...) or you
    // can use model based table operations, e.g., dataContext.Table<Page>().LoadRecord(id)
    DataContext dataContext = Model.DataContext;
    DataContext dbContext = Model.DbDataContext;

    NameValueCollection parameters = Request.QueryString;

    int dateRange = int.Parse(parameters["DateRange"] ?? "-1");
    string dates = (dateRange != -1 ? dateRange.ToString() + " days" : "All Time");
    string dateRestriction = (dateRange != -1 ? $"AND DATEDIFF(day, StartTime, GETDATE()) <= {dateRange}" : "");
    string title = parameters["Title"] ?? "";
    string incidentTypes = parameters["IncidentTypes"] ?? "";

    object[] incidentTypeParams = incidentTypes.Split(',');
    string formatParams = string.Join(",", incidentTypeParams.Select((obj, index) => $"{{{index}}}"));
    string incidentTypeRestriction = incidentTypeParams.Any() ? $"AND IncidentType IN ({formatParams})" : "";

    Func<string, string> intersectIncidentTypes = incidentTypeStr =>
        string.Join(",", incidentTypes.Split(',').Intersect(incidentTypeStr.Split(',')).DefaultIfEmpty("None"));

    DataTable incidentTable11 = dbContext.Connection.RetrieveData($"SELECT IncidentType, COUNT(*) AS IncidentCount FROM IncidentEventCycleDataView WHERE (VMax / NominalVoltage) >= 1.1 {incidentTypeRestriction} {dateRestriction} GROUP BY IncidentType", incidentTypeParams);
    int volt11A = incidentTable11.Select("IncidentType = 'A-SWELL'").Select(row => row.ConvertField<int>("IncidentCount")).DefaultIfEmpty(0).Sum();
    int volt11B = incidentTable11.Select("IncidentType = 'B-SWELL'").Select(row => row.ConvertField<int>("IncidentCount")).DefaultIfEmpty(0).Sum();
    int volt11C = incidentTable11.Select("IncidentType = 'C-SWELL'").Select(row => row.ConvertField<int>("IncidentCount")).DefaultIfEmpty(0).Sum();
    int volt11PhaseTotal = volt11A + volt11B + volt11C;
    int volt11Ground = dbContext.Connection.ExecuteScalar<int>($"SELECT COUNT(*) FROM IncidentEventCycleDataView WHERE IncidentType IN ('A-SWELL', 'B-SWELL', 'C-SWELL') AND (Vmax/NominalVoltage) >= 1.1 AND IRMax > 600 {incidentTypeRestriction} {dateRestriction}", incidentTypeParams);

    DataTable incidentTable0709 = dbContext.Connection.RetrieveData($"SELECT IncidentType, COUNT(*) AS IncidentCount FROM IncidentEventCycleDataView WHERE (VMin / NominalVoltage) >= 0.7 AND (VMin / NominalVoltage) < 0.9 {incidentTypeRestriction} {dateRestriction} GROUP BY IncidentType", incidentTypeParams);
    int volt0709A = incidentTable0709.Select("IncidentType = 'A-SAG'").Select(row => row.ConvertField<int>("IncidentCount")).DefaultIfEmpty(0).Sum();
    int volt0709B = incidentTable0709.Select("IncidentType = 'B-SAG'").Select(row => row.ConvertField<int>("IncidentCount")).DefaultIfEmpty(0).Sum();
    int volt0709C = incidentTable0709.Select("IncidentType = 'C-SAG'").Select(row => row.ConvertField<int>("IncidentCount")).DefaultIfEmpty(0).Sum();
    int volt0709PhaseTotal = volt0709A + volt0709B + volt0709C;
    int volt0709Ground = dbContext.Connection.ExecuteScalar<int>($"SELECT COUNT(*) FROM IncidentEventCycleDataView WHERE IncidentType IN ('A-SAG', 'B-SAG', 'C-SAG') AND (Vmin/NominalVoltage) >= 0.7 AND (Vmin/NominalVoltage) < 0.9 AND IRMax > 600 {incidentTypeRestriction} {dateRestriction}", incidentTypeParams);

    DataTable incidentTable0307 = dbContext.Connection.RetrieveData($"SELECT IncidentType, COUNT(*) AS IncidentCount FROM IncidentEventCycleDataView WHERE (VMin / NominalVoltage) >= 0.3 AND (VMin / NominalVoltage) < 0.7 {incidentTypeRestriction} {dateRestriction} GROUP BY IncidentType", incidentTypeParams);
    int volt0307A = incidentTable0307.Select("IncidentType = 'A-SAG'").Select(row => row.ConvertField<int>("IncidentCount")).DefaultIfEmpty(0).Sum();
    int volt0307B = incidentTable0307.Select("IncidentType = 'B-SAG'").Select(row => row.ConvertField<int>("IncidentCount")).DefaultIfEmpty(0).Sum();
    int volt0307C = incidentTable0307.Select("IncidentType = 'C-SAG'").Select(row => row.ConvertField<int>("IncidentCount")).DefaultIfEmpty(0).Sum();
    int volt0307PhaseTotal = volt0307A + volt0307B + volt0307C;
    int volt0307Ground = dbContext.Connection.ExecuteScalar<int>($"SELECT COUNT(*) FROM IncidentEventCycleDataView WHERE IncidentType IN ('A-SAG', 'B-SAG', 'C-SAG') AND (Vmin/NominalVoltage) >= 0.3 AND (Vmin/NominalVoltage) < 0.7 AND IRMax > 600 {incidentTypeRestriction} {dateRestriction}", incidentTypeParams);

    DataTable incidentTable03 = dbContext.Connection.RetrieveData($"SELECT IncidentType, COUNT(*) AS IncidentCount FROM IncidentEventCycleDataView WHERE (VMin / NominalVoltage) < 0.3 {incidentTypeRestriction} {dateRestriction} GROUP BY IncidentType", incidentTypeParams);
    int volt03A = incidentTable03.Select("IncidentType = 'A-SAG'").Select(row => row.ConvertField<int>("IncidentCount")).DefaultIfEmpty(0).Sum();
    int volt03B = incidentTable03.Select("IncidentType = 'B-SAG'").Select(row => row.ConvertField<int>("IncidentCount")).DefaultIfEmpty(0).Sum();
    int volt03C = incidentTable03.Select("IncidentType = 'C-SAG'").Select(row => row.ConvertField<int>("IncidentCount")).DefaultIfEmpty(0).Sum();
    int volt03PhaseTotal = volt03A + volt03B + volt03C;
    int volt03Ground = dbContext.Connection.ExecuteScalar<int>($"SELECT COUNT(*) FROM IncidentEventCycleDataView WHERE IncidentType IN ('A-SAG', 'B-SAG', 'C-SAG') AND (Vmin/NominalVoltage) < 0.3 AND IRMax > 600 {incidentTypeRestriction} {dateRestriction}", incidentTypeParams);


}
@section StyleSheets {
    @* Include any page specific style sheets here, these will be added to page header *@
}
@section Scripts {
    @* Include any page specific scripts here, these will be added to scripts at bottom of page *@
    <script>
        $(function () {
            @*console.log(@maxFaultBin + @minFaultBin);*@
        });

    </script>
}

<div class="col-md-10">
    <p>&nbsp;</p>
    <table class="table table-condensed table-hover">
        <tr>
            <th style="border-bottom: 1px solid black;" colspan="4" id="title">@title</th>
            <th style="border-bottom: 1px solid black;" colspan="4" id="daterange">@Html.Raw("Date Range: " + dates)</th>
        </tr>
        <tr>
            <th style="border-bottom: 1px solid black;">Voltage Bin</th>
            <th style="border-bottom: 1px solid black;">A</th>
            <th style="border-bottom: 1px solid black;">C</th>
            <th style="border-bottom: 1px solid black;">B</th>
            <th style="border-bottom: 1px solid black;">Phase Total</th>
            <th style="border-bottom: 1px solid black;">Ground or Neutral > 600A</th>
        </tr>

        <tr>
            <td>&nbsp;&nbsp;>&nbsp;1.1</td>
            <td><a href="@Url.Content($"~/Main/IncidentEventCycleDataView/?DateRange={dateRange}&Title=SOE Voltage Source Summary - A Phase&IncidentTypes={intersectIncidentTypes("A-SWELL")}&MinRatio=1.1")">@volt11A</a></td>
            <td><a href="@Url.Content($"~/Main/IncidentEventCycleDataView/?DateRange={dateRange}&Title=SOE Voltage Source Summary - C Phase&IncidentTypes={intersectIncidentTypes("C-SWELL")}&MinRatio=1.1")">@volt11C</a></td>
            <td><a href="@Url.Content($"~/Main/IncidentEventCycleDataView/?DateRange={dateRange}&Title=SOE Voltage Source Summary - B Phase&IncidentTypes={intersectIncidentTypes("B-SWELL")}&MinRatio=1.1")">@volt11B</a></td>
            <td><a href="@Url.Content($"~/Main/IncidentEventCycleDataView/?DateRange={dateRange}&Title=SOE Voltage Source Summary - Phase Total&IncidentTypes={intersectIncidentTypes("A-SWELL,B-SWELL,C-SWELL")}&MinRatio=1.1")">@volt11PhaseTotal</a></td>
            <td><a href="@Url.Content($"~/Main/IncidentEventCycleDataView/?DateRange={dateRange}&Title=SOE Voltage Source Summary - Ground > 600A&IncidentTypes={intersectIncidentTypes("A-SWELL,B-SWELL,C-SWELL")}&MinRatio=1.1&MinGround=600")">@volt11Ground</a></td>

        </tr>
        <tr>
            <td>&nbsp;&nbsp;0.7&nbsp;-&nbsp;0.9</td>
            <td><a href="@Url.Content($"~/Main/IncidentEventCycleDataView/?DateRange={dateRange}&Title=SOE Voltage Source Summary - A Phase&IncidentTypes={intersectIncidentTypes("A-SAG")}&MinRatio=0.7&MaxRatio=0.9")">@volt0709A</a></td>
            <td><a href="@Url.Content($"~/Main/IncidentEventCycleDataView/?DateRange={dateRange}&Title=SOE Voltage Source Summary - C Phaset&IncidentTypes={intersectIncidentTypes("C-SAG")}&MinRatio=0.7&MaxRatio=0.9")">@volt0709C</a></td>
            <td><a href="@Url.Content($"~/Main/IncidentEventCycleDataView/?DateRange={dateRange}&Title=SOE Voltage Source Summary - B Phase&IncidentTypes={intersectIncidentTypes("B-SAG")}&MinRatio=0.7&MaxRatio=0.9")">@volt0709B</a></td>
            <td><a href="@Url.Content($"~/Main/IncidentEventCycleDataView/?DateRange={dateRange}&Title=SOE Voltage Source Summary - Phase Total&IncidentTypes={intersectIncidentTypes("A-SAG,B-SAG,C-SAG")}&MinRatio=0.7&MaxRatio=0.9")">@volt0709PhaseTotal</a></td>
            <td><a href="@Url.Content($"~/Main/IncidentEventCycleDataView/?DateRange={dateRange}&Title=SOE Voltage Source Summary - Ground > 600A&IncidentTypes={intersectIncidentTypes("A-SAG,B-SAG,C-SAG")}&MinRatio=0.7&MaxRatio=0.9&MinGround=600")">@volt0709Ground</a></td>

        </tr>
        <tr>
            <td>&nbsp;&nbsp;0.3&nbsp;-&nbsp;0.7</td>
            <td><a href="@Url.Content($"~/Main/IncidentEventCycleDataView/?DateRange={dateRange}&Title=SOE Voltage Source Summary - A Phase&IncidentTypes={intersectIncidentTypes("A-SAG")}&MinRatio=0.3&MaxRatio=0.7")">@volt0307A</a></td>
            <td><a href="@Url.Content($"~/Main/IncidentEventCycleDataView/?DateRange={dateRange}&Title=SOE Voltage Source Summary - C Phase&IncidentTypes={intersectIncidentTypes("C-SAG")}&MinRatio=0.3&MaxRatio=0.7")">@volt0307C</a></td>
            <td><a href="@Url.Content($"~/Main/IncidentEventCycleDataView/?DateRange={dateRange}&Title=SOE Voltage Source Summary - B Phase&IncidentTypes={intersectIncidentTypes("B-SAG")}&MinRatio=0.3&MaxRatio=0.7")">@volt0307B</a></td>
            <td><a href="@Url.Content($"~/Main/IncidentEventCycleDataView/?DateRange={dateRange}&Title=SOE Voltage Source Summary - Phase Total&IncidentTypes={intersectIncidentTypes("A-SAG,B-SAG,C-SAG")}&MinRatio=0.3&MaxRatio=0.7")">@volt0307PhaseTotal</a></td>
            <td><a href="@Url.Content($"~/Main/IncidentEventCycleDataView/?DateRange={dateRange}&Title=SOE Voltage Source Summary - Ground > 600A&IncidentTypes={intersectIncidentTypes("A-SAG,B-SAG,C-SAG")}&MinRatio=0.3&MaxRatio=0.7&MinGround=600")">@volt0307Ground</a></td>

        </tr>
        <tr>
            <td>&nbsp;&nbsp;&lt;&nbsp;0.3</td>
            <td><a href="@Url.Content($"~/Main/IncidentEventCycleDataView/?DateRange={dateRange}&Title=SOE Voltage Source Summary - A Phase&IncidentTypes={intersectIncidentTypes("A-SAG")}&MaxRatio=0.3")">@volt03A</a></td>
            <td><a href="@Url.Content($"~/Main/IncidentEventCycleDataView/?DateRange={dateRange}&Title=SOE Voltage Source Summary - C Phase&IncidentTypes={intersectIncidentTypes("C-SAG")}&MaxRatio=0.3")">@volt03C</a></td>
            <td><a href="@Url.Content($"~/Main/IncidentEventCycleDataView/?DateRange={dateRange}&Title=SOE Voltage Source Summary - B Phase&IncidentTypes={intersectIncidentTypes("B-SAG")}&MaxRatio=0.3")">@volt03B</a></td>
            <td><a href="@Url.Content($"~/Main/IncidentEventCycleDataView/?DateRange={dateRange}&Title=SOE Voltage Source Summary - Phase Total&IncidentTypes={intersectIncidentTypes("A-SAG,B-SAG,C-SAG")}&MaxRatio=0.3")">@volt03PhaseTotal</a></td>
            <td><a href="@Url.Content($"~/Main/IncidentEventCycleDataView/?DateRange={dateRange}&Title=SOE Voltage Source Summary - Ground > 600A&IncidentTypes={intersectIncidentTypes("A-SAG,B-SAG,C-SAG")}&MaxRatio=0.3&MinGround=600")">@volt03Ground</a></td>
        </tr>
        <tr >
            <td style="border-top: 1px solid black;">Total</td>
            <td style="border-top: 1px solid black;"><a href="@Url.Content($"~/Main/IncidentEventCycleDataView/?DateRange={dateRange}&Title=SOE Voltage Source Summary - A Phase&IncidentTypes={intersectIncidentTypes("A-SAG")}")">@Html.Raw(volt11A + volt0709A + volt0307A + volt03A)</a></td>
            <td style="border-top: 1px solid black;"><a href="@Url.Content($"~/Main/IncidentEventCycleDataView/?DateRange={dateRange}&Title=SOE Voltage Source Summary - C Phase&IncidentTypes={intersectIncidentTypes("C-SAG")}")">@Html.Raw(volt11C + volt0709C + volt0307C+ volt03C)</a></td>
            <td style="border-top: 1px solid black;"><a href="@Url.Content($"~/Main/IncidentEventCycleDataView/?DateRange={dateRange}&Title=SOE Voltage Source Summary - B Phase&IncidentTypes={intersectIncidentTypes("B-SAG")}")">@Html.Raw(volt11B + volt0709B + volt0307B + volt03B )</a></td>
            <td style="border-top: 1px solid black;"><a href="@Url.Content($"~/Main/IncidentEventCycleDataView/?DateRange={dateRange}&Title=SOE Voltage Source Summary - Phase Total&IncidentTypes={intersectIncidentTypes("A-SAG,B-SAG,C-SAG,A-SWELL,B-SWELL,C-SWELL")}")">@Html.Raw(volt11PhaseTotal + volt0709PhaseTotal + volt0307PhaseTotal + volt03PhaseTotal)</a></td>
            <td style="border-top: 1px solid black;"><a href="@Url.Content($"~/Main/IncidentEventCycleDataView/?DateRange={dateRange}&Title=SOE Voltage Source Summary - Ground > 600A&IncidentTypes={intersectIncidentTypes("A-SAG,B-SAG,C-SAG,A-SWELL,B-SWELL,C-SWELL")}&MinGround=600")">@Html.Raw(volt11Ground + volt0709Ground + volt0307Ground + volt03Ground)</a></td>

        </tr>
    </table>

</div>

